<h2>{{action}} HouseHold</h2>

<script type="text/ng-template" id="formfield2.html">
  <div id="template">
  <div class="control-group">
    <label class="control-label" for="{{prop | lowercase}}">{{prop}}</label>
    <div class="controls" ng-transclude>
    </div>
  </div>
  </div>
</script>

<form name="houseform" class="form-horizontal">
  <formfield prop="Id" ng-model="house.id"></formfield>
  <formfield prop="Address" ng-model="house.title"></formfield>
  <formfield prop="City" ng-model="house.mileage"></formfield>
  <formfield prop="Zip" ng-model="house.price"></formfield>
  <formfield2 prop="" ng-model="house.year">
    <input type="text" ng-model="house.year">
  </formfield2>

  <div class="form-actions">
    <button ng-click="save()" class="btn btn-primary">
      {{action}}
    </button>
    <a href="/" class="btn">Cancel</a>
  </div>
</form>