<h2>{{action}} HouseHold</h2>

<script type="text/ng-template" id="formfield2.html">
  <div id="template">
  <div class="control-group">
    <label class="control-label" for="{{prop | lowercase}}">{{prop}}</label>
    <div class="controls" ng-transclude>
    </div>
  </div>
  </div>
</script>

<form name="houseform" class="form-horizontal">
  <formfield prop="Id" ng-model="house.id"></formfield>
  <formfield prop="Phone" ng-model="house.phone">
  <formfield prop="Address" ng-model="house.address"></formfield>
  <formfield prop="City" ng-model="house.city"></formfield>
  <formfield prop="Zip" ng-model="house.zip"></formfield>
  <formfield prop="E-mail" ng-model="house.email">
  <formfield prop="Initial Visit" ng-model="house.initvisit">
  <formfield prop="Renewal" ng-model="house.renew">
  <formfield prop="Ethnicity" ng-model="house.ethnic">
  <formfield prop="# of People in house" ng-model="house.numpeople">

<div class="active" name="peopleSection" ng-repeat ="people in house.people" >
  <formfield prop="Last Name" ng-model="people.lname">
  <formfield prop="First Name" ng-model="people.fname">
  <formfield prop="Birthdate" ng-model="people.bdate">
  <formfield prop="ID Type" ng-model="people.idtype">
  <formfield prop="Sex" ng-model="people.sex">
</div>

<div class="active" name="foodTaken" ng-repeat ="foodtaken in house.foodtaken" >
  <formfield prop="amount" ng-model="foodtaken.amount">
  <formfield prop="On" ng-model="foodtaken.date">
  <formfield prop="By" ng-model="foodtaken.by">
  <formfield prop="time" ng-model="foodtaken.time">
  
</div>
  <div class="form-actions">
    <button ng-click="save()" class="btn btn-primary">
      {{action}}
    </button>
    <a href="/" class="btn">Cancel</a>
  </div>
</form>