<div class = "well">

<h2>{{action}} HouseHold</h2>

<script texter="text/ng-template" id="formfield2.html">
    <div id="template">
        <div class="control-group">
            <label class="control-label" for="{{ prop | lowercase}}">{{prop}}</label>

            <div class="controls" ng-transclude>
            </div>
        </div>
    </div>
</script>

<table class="table-bordered table-condensed table-striped table-hover">

<form name="houseform" class="form-horizontal">
  
  <td valign="top">
  <formfield prop="ID" ng-model="house.id"></formfield>
  </td>
  <td>
  <formfield prop="Address" ng-model="house.address"></formfield>
  <formfield prop="City" ng-model="house.city"></formfield>
  <formfield prop="Zip" ng-model="house.zip"></formfield>
  </td>
  
  <td>
  <formfield prop="E-mail" ng-model="house.email"/></formfield>
  <formfield prop="Phone" ng-model="house.phone"></formfield>
  <formfield prop="Ethnicity" ng-model="house.ethnic"></formfield>
  </td>

  <td>
  <formfield prop="Initial Visit" ng-model="house.initvisit"></formfield>
  <formfield prop="Renewal Date" ng-model="house.renew"></formfield>
  <formfield prop="# of People in house" ng-model="house.numpeople"></formfield>
  </td>

</table>

<h3>Household Details</h3>

<table class="table-bordered table-condensed table-striped table-hover">

<div class="active" name="peopleSection" ng-repeat ="people in house.people" >

  <td><formfield prop="Last Name" ng-model="people.lname"></formfield></td>
  <td><formfield prop="First Name" ng-model="people.fname"></formfield></td>
  <td><formfield prop="Birthdate" ng-model="people.bdate"></formfield></td>
  <td><formfield prop="ID Type" ng-model="people.idtype"></formfield></td>
  <td><formfield prop="Sex" ng-model="people.sex"></formfield></td>
  <td><formfield prop="Head" ng-model="people.head"></formfield></td>

</div>

</table>

<table class="table-bordered table-condensed table-striped table-hover">
    <div class="active" name="foodTaken" ng-repeat="foodtaken in house.foodtaken">
        <td><formfield prop="Amount Received" ng-model="foodtaken.amount" type="number" ></formfield></td>
        <td><formfield prop="Date Received" ng-model="foodtaken.date" type="date" ></formfield></td>
        <td><formfield prop="Picked Up By" ng-model="foodtaken.by" type="text" ></formfield></td>
        <td><formfield prop="time" ng-model="foodtaken.time" type="datetime" ></formfield></td>
    </div>
</table>


    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn btn-large" ng-click="addFood()"><i class="icon-plus"></i>Add</a>
        </div>
        <td><formfield prop="Amount Received" ng-model="foodtaken.amount" type="number" ></formfield></td>
        <td><formfield prop="Date Received" ng-model="foodtaken.date" type="date" ></formfield></td>
        <td><formfield prop="Picked Up By" ng-model="foodtaken.by" type="text" ></formfield></td>
        <td><formfield prop="time" ng-model="foodtaken.time" type="datetime" ></formfield></td>
    </div>

    <div class="form-actions">
        <button ng-click="save()" class="btn btn-primary">
            {{action}}
        </button>
        <a href="/" class="btn">Cancel</a>
    </div>
    
</form>
</div>
