<div class="navbar" ng-controller="HeaderCtrl">
    <div class="navbar-inner">
        <ul class="nav" ng-show="isAuthenticated()">
            <li ng-class="{active:isNavbarActive('households')}"><a href="/search">Find Household</a></li>
            <li ng-class="{active:isNavbarActive('households')}"><a href="/new">Add Household</a></li>
            <li class="dropdown" ng-class="{active:isNavbarActive('admin'), open:isAdminOpen}" ng-show="isAdmin()">
                <a id="adminmenu" role="button" class="dropdown-toggle" ng-click="isAdminOpen=!isAdminOpen">
                    Quick Search
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="adminmenu">
                    <li><input class="span6" type="text" id="id" name="id" ng-model="menu.id"/></li>
                    <li><a tabindex="-1" ng-click="search()">Go</a></li>
                </ul>
            </li>
        </ul>
        <!--         <ul class="nav pull-right" ng-show="hasPendingRequests()">
                    <li class="divider-vertical"></li>
                    <li><a href="#"><img src="/static/img/spinner.gif"></a></li>
                </ul>
         -->
        <!-- <login-toolbar></login-toolbar> -->
    </div>
    <div>
    </div>
</div>