<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script src="http://github.com/downloads/SteveSanderson/knockout/knockout-2.1.0.js" type="text/javascript"></script>
	<link href="/Content/App/coderunner.css" rel="Stylesheet"/>
	<link href="/Content/TutorialSpecific/loadingsaving.css" rel="Stylesheet"/>
</head>
<body>
    
	<p>First name: <input data-bind='value: firstName' /></p> 
	<p>Last name: <input data-bind='value: lastName' /></p> 
	<p>email: <input data-bind='value: email' /></p> 
	<p>password: <input type="password" data-bind='value: password' /></p> 
	<p>confirm password: <input type="password" data-bind='value: confPassword' /></p> 
	<h2>Hello, <span data-bind='text: fullName'> </span>!</h2>
	<button data-bind='click: registerClick'>save me</button>  
	<script type="text/javascript">

		var user =
		{
			firstName : 'test',
			lastName : 'test',
			email : '',
			confPassword : '',
			password : ''
		};

        function saveUser(user)
        {
            console.log(user);
            $.post("/users/create", user, function(returnedData) {
                // ko.applyBindings(new results(returnedData));
            });
        };

		// var results = function(data){
  //       	shouldShowMessage: ko.observable(false) // Message initially visible
  //       	this.result = ko.computed(function()
  //       		{
  //       			if (data != false)
  //       			{
  //       				shouldShowMessage: ko.observable(true);
  //       			}
  //       			if (data != null)
  //       			{
  //       				return  "successful";
  //       			}
  //       			else
  //       			{
  //       				return "error";
  //       			}
  //       		}, this);
  //   	};

		// Here's my data model
		var ViewModel = function(user) {
			this.firstName = ko.observable(user.firstName);
			this.lastName = ko.observable(user.lastName);
            this.email = ko.observable(user.email);
            this.password = ko.observable(user.password);
            this.confPassword = ko.observable(user.confPassword);
			this.fullName = ko.computed(function() {
        		// Knockout tracks dependencies automatically. It knows that fullName depends on firstName and lastName, because these get called when evaluating fullName.
        		return this.firstName() + " " + this.lastName();
        	}, this);
        	this.registerClick = function() {
        		saveUser(user);
    		};
		};

		ko.applyBindings(new ViewModel(user)); // This makes Knockout get to work
		// ko.applyBindings(new results(false));
	</script>
</body>
</html>